/*https://www.w3schools.com/tags/tag_button.asp*/

/*every element needs margin and padding because of box model*/

/*CSS Precedence to prevent mis-ordered style rule from overriding
 body, header, h1, p, a, img, */

body {
    margin: 0;
    font-size: 18px;
    background-color: #298eea;
    font-family: "Roboto", helvetica, sans-serif;
}

/*when I added the global rule '*' to body, and deleted fieldset from HTML everything aligned as the box model*/

body * {
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    font-size: 25px;
}

a {
    padding-left: 5px;
}

.logo {
    /*    margin: auto CENTERS position block elements*/
    display: block;
    height: 35px;
    width: auto;
    margin: 0 auto 30px;

}

/*SELECTORS: class, type, id
the rule: if an element is part of the target, put it first. Then, chain together the classes you want to target.
When selectors are combined they should be read from right to left.
2 or more classes or target an element that is in two or more classes, put element first*/

.signup-form {
    /* margin:'0 auto;*/
    margin: auto;
    width: 400px;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    /*    setting padding property to 40px and color white created a padded white container for form attributes*/
}

.signup-form p {
    text-align: center;
    /*  margin: 0 auto 45px;*/
    width: 100%;
    color: #6c6b6b;
    font-size: 36px;
    font-weight: 300;
    line-height: 38px;
    color: #565656;
}

input[type=email],
input[type=password],
button[type=submit] {
    display: block;
    width: 320px;
    height: 55px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    font-size: 18px;
    color: white;
}

.button {
    background-color: limegreen;
    font-size: 18px;
    color: white;
}

button::normalstate {
    transition-property: gradient;
}

button:hover {
    background-color: green;
    font-size: 18px;
    color: white;

}

.footer {
    text-align: center;
    color: white;
    font-weight: 600px;
    margin: 10px;
}

/*the footer class chained with <a> tag is the correct target for styling footer font size*/

.footer p {
    font-size: 14px;
}

.footer a {
    color: white;
    font-size: 14px;

}

.footer a:hover {
    color: gray;
}

.footer p:first-child {
    color: white;
    display: block;
    /*    font-size: 0; add space between ? and Log in*/
}
